<header class="header">
  <h1 class="logo">poberi.me</h1>
  <div class="mode-switch">
    <button
      [class.active]="isActive('/match')"
      routerLink="/match"
    >
      Match
    </button>

    <button
      [class.active]="isActive('/drive')"
      routerLink="/drive"
    >
      Create
    </button>
  </div>
  <div class="button-box">
    @if (authService.isLoggedIn()) {
      <button>Profile</button>
      <button (click)="authService.logout()">Logout</button>
    } @else {
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    }
  </div>
</header>
