<div class="match-page">
  <h2>Find a matching ride</h2>

  <div class="map-container">
    <form class="card">
      <label>From</label>
      <input #fromInput type="text" placeholder="Enter starting location" />

      <label>To</label>
      <input #toInput type="text" placeholder="Enter destination" />

      <label>When?</label>
      <input type="datetime-local" [(ngModel)]="startTime" name="startTime" />


      <label>Radius (meters)</label>
      <input type="number" [(ngModel)]="radius" name="radius" placeholder="500" />

      <button type="button" (click)="searchRides()">Search</button>
    </form>


      <google-map class="map"
                  [center]="center"
                  [zoom]="zoom">
        @if (fromMarkerSet) {
          <map-marker [position]="fromMarker"></map-marker>
        }
        @if (toMarkerSet) {
          <map-marker [position]="toMarker"></map-marker>
        }
      </google-map>
    </div>


  @if (successMessage.length > 0) {
    <div class="success-message">
      {{ successMessage }}
    </div>
  }
  @if (matchedRoutes.length > 0) {
    <div class="results">
      <h3>Matched Rides</h3>

      <div class="results">
        @for (route of matchedRoutes; track route.id) {
          <app-route-card [route]="route" (join)="requestJoinRoute($event)"></app-route-card>
        }
      </div>
    </div>
  } @else {
    <p>No matches found.</p>
  }
</div>
