.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* full viewport height */
}

.login-box {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 0.9rem;
  color: #555;
  margin-top: 4px;
  margin-bottom: 30px
}

.link-button {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

.mt {
  margin-top: 1rem;
}
