body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 8px 16px;
  margin: 4px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover,
button:active {
  background-color: #cccccc;
}

input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s;
  margin-bottom:10px;
  box-sizing: border-box;
}

input:focus {
  border-color: #58a7a5;
  box-shadow: 0 0 5px rgba(88, 167, 165, 0.5);
}

label {
  display: block;
  margin-bottom: 6px;
}

.card {
  background: white;
  padding: 24px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-container {
  display: flex;
  gap: 24px;
  align-items: stretch;
}
